<!-- <div class="chatmain">
        <input type="text" [ngModel]="currntitem" name="name"/>
    <input class="searchtext" type="text" placeholder="search" />
    <ul>
        <li *ngFor="let item of chatRooms"> 
                <span (click)="bindRoom(item.id)">{{item.name}}</span>
        </li>
        </ul>    
    </div>    
          
  <div class="chat">
        <!-- 傳入參數 如 room ID ，依據Room 獲取當前信息，並加載-->
        <!-- <app-chat [chatRoom]="currntitem"></app-chat> -->
        <!-- <router-outlet></router-outlet> -->
      
    <!-- </div> -->
 <!-- --> 


<!--
<div class="leftList" #value>
    <ul *ngFor="let item of chatlist">
      <li> <img src={{item.image}} style="width:30px;height:30px;"> {{ item.name }} <input  type="button" (click)="checkthis(item.name)"  value="select this"></li>
      </ul>

</div>
<div class="maincontent" ><app-chat ></app-chat></div>


<div class="chat_item slide-left">
    <div class="ext">
        <p class="attr"></p>
        <p class="attr" class="no_time">
            <i class="web_wechat_no-remind" ng-class="web_wechat_no-remind_hl"></i>
        </p>
    </div>

    <div class="avatar">
        <img class="img" src="//res.wx.qq.com/a/wx_fed/webwx/res/static/img/2KriyDK.png" 
        alt=""/>

        <i class="icon web_wechat_reddot" ></i>

        <i class="icon web_wechat_reddot_middle" ng-class=" web_wechat_reddot_middle"></i>

    </div>
</div>
-->
<div class="middle-panel">
    <div class="search-panel">
      <div class="search-bar">
        <input type="text" placeholder="搜索"> </div>
    </div>
    <div class="list-panel">
      <div class="data-list">
        <ul>
          <li class="active">
            <a href="#">
              <img class="com-logo" src="/assets/images/Amazon_48px.png" width="48" height="48" alt="" />
              <div class="com-name-bar">
                <span class="com-name">亚马逊</span>
                <img class="com-rz" src="/assets/images/Vimeo_48px.png" width="16" height="16" alt="" title="已认证" />
                <span class="talk-time">11:32</span>
              </div>
              <div class="com-talk">整体感觉还行，希望不会爆炸</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="com-logo" src="/assets/images/Amazon_48px.png" width="48" height="48" alt="" />
              <div class="com-name-bar">
                <span class="com-name">亚马逊</span>
                <img class="com-rz" src="/assets/images/Vimeo_48px.png" width="16" height="16" alt="" title="已认证" />
                <span class="talk-time">11:32</span>
              </div>
              <div class="com-talk">整体感觉还行，希望不会爆炸</div>
            </a>
          </li>
          <li>
            <a href="#">
              <img class="com-logo" src="/assets/images/Amazon_48px.png" width="48" height="48" alt="" />
              <div class="com-name-bar">
                <span class="com-name">亚马逊</span>
                <img class="com-rz" src="/assets/images/Vimeo_48px.png" width="16" height="16" alt="" title="已认证" />
                <span class="talk-time">11:32</span>
              </div>
              <div class="com-talk">整体感觉还行，希望不会爆炸</div>
            </a>
          </li>
         
        </ul>

      </div>
    </div>
  </div>