 .chatwin{
    padding-top: 10px;
}
.chatinpbox{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}
.inputbox{
    width:100%;
}
.sendBtn{
    position: absolute;
    z-index: 10;
    margin-top: -100;
    float: right;
}