<div>
  <div class="chatwin" *ngFor="let msg of msgList">
    <span>{{msg.text}}</span>
  </div>

  <div class="chatinpbox">
    <!-- <input class="inputbox" type="text"  #value> -->
    <textarea rows=6 class="inputbox" type="text" #value></textarea>
    <div class="sendBtn">
      <input  type="button" value="群发" (click)="sendMsg(value.value,'laoma')" />
    </div>
  </div>

</div>
<!--

<br> <span>登记房间信息-目前不用</span><br>
<input type="text" #room>
<input type="text" #username>
<br>
<br>
<input type="button" value="Test Message" (click)="createRoom(room.value,username.value)"/>

<br>
<input type="button" value="JoinRoom" (click)="joinRoom(room.value,username.value)"/>
-->
