<!--缺少头像信息功能，需补充-->
<!--左侧导航 -->


<!-- <div>
    <button (click)="onClick()">Alert</button>
 </div>
<input type="text" value="demo" #text (keyup)='text1.next(text.value)'/>
<input type="text22" value="demo" #text22 (keyup)='text2.next(text22.value)'/>



<br>
<div> 消息发送测试</div>
<span>
        <app-demo></app-demo>
</span> -->
<!-- <div class="container-fluid">
  <div class="row">
    <div class="firstcol">
      <div *ngIf="isAuthened">
        <app-leftnavtab></app-leftnavtab>
      </div>
    </div>
    <div class="chatContent">
      <router-outlet></router-outlet>
    </div>
  </div>

</div> -->



<!-- <app-logout></app-logout>
 <br>
 <br>
 <br>

        
 -->

<table class="box" width="100%" height=100% border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td width="60"> 
       <app-leftnavtab></app-leftnavtab>
    </td>
    <td width="100%" height="100%">
     <!-- <app-mychat></app-mychat> -->
     <router-outlet></router-outlet>
    </td>
    <!-- <td width="90%">
    </td> -->
  </tr>

</table>



<!-- <div class="box">
       <div class="left-panel">
           
             
         
         </div>
         <div class="middle-panel">
         
             
         
         </div>
         
     </div>-->
