<!-- <div class="tab">
  <div>
    <my-info></my-info>
  </div>
  <div class="tab_item">
    <a routerLink="/mychat" title='聊天'>
      <img src='assets/images/Speech2.png' />
    </a>
  </div>
  <div class="tab_item">
    <a routerLink="/mycontact" title='阅读'>
      <img src='assets/images/contact.png' />
    </a>
  </div>
  <div class="tab_item no_extra">
    <a routerLink="/myfavorite" title='通讯录'>
      <img src='assets/images/Address.png' />
    </a>
  </div>

</div> -->

  <div class="left-panel">
    <div class="left-top-nav">
      <ul>
        <li class="active">
          <a routerLink="/mychat" title="历史">
            <img src="/assets/images/5.png" width="16" height="16" alt="" />
          </a>
        </li>
        <li>
          <a routerLink="/mycontact" title="聊天">
            <img src="/assets/images//4.png" width="16" height="17" alt="" />
          </a>
        </li>
        <li>
          <a routerLink="/myfavorite" title="通信录">
            <img src="/assets/images/4.png" width="16" height="17" alt="" />
          </a>
        </li>
      </ul>
    </div>
    <div class="left-bottom-nav">
      <ul>
        <li class="active">
          <a routerLink="/mychat" title="帮助">
            <img src="/assets/images/3.png" width="18" height="18" alt="" />
          </a>
        </li>
        <li>
          <a routerLink="/mychat" title="设置">
            <img src="/assets/images/2.png" width="16" height="16" alt="" />
          </a>
        </li>
        <li>
          <a routerLink="/mychat" title="{{name}}" >
            <img src="/assets/images/1.png" width="38" height="39" alt=""/>
          </a>
        </li>
      </ul>

    </div>

  </div>
 